<form action = "/submitPostagem" method="POST">
    <p>Título: </p>
    <input type="text" name="titulo"/>
    <p>Conteudo</p>
    <textarea name="conteudo"></textarea>
    <button type="submit"> Cadastrar postagem</button>
</form>